@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.Cover .Cover-Title {
    margin-top: -10vh;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 12px;
    color: #444;
    animation: appear 300ms
}

.Cover .Cover-Description {
    white-space: pre-wrap;
    font-size: 13px;
    line-height: 22px;
    color: #666;
}
